<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <div class="nav-bar"></div>

    <div id="app">
        <div class="product">

            <div class="product-image">
                <!-- v-bind binds an attribute to an expression -->
                <img v-bind:src="image" v-bind:alt="altText">

            </div>

            <div class="product-info">
                <h1>{{ product }}</h1>
                <!-- conditional rendering -->
                <p v-show="inStock">In Stock</p>
                <!-- <span v-if="onSale">Sale!</span> -->
                <!-- <p v-if="inventory > 10">In Stock</p>
                <p v-else-if="inventory <=10 && inventory > 0">Almost sold out! Hurry!</p>
                <p v-else="OutStock">Out of Stock</p> -->
                <!-- <a :href="link" target="_blank">See more products like this</a> -->
                <ul>
                    <li v-for="detail in details">{{ detail }}</li>
                </ul>
                <ul>
                    <li v-for="size in sizes">{{ size }}</li>
                </ul>
                <div v-for="variant in variants" :key="variant.variantId">
                    <p>{{ variant.variantColor }}</p>
                </div>
            </div>


        </div>
    </div>
    <!-- Install Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- JS -->
    <script src="script.js"></script>
</body>

</html>